/*------------reset------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*---------whole page----------*/
body {
    background: black;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------dashboard----------*/
#dashboard {
    position: relative;

    container-type: inline-size;
    container-name: dashboard;

    width: min(95vw, calc(90vh * (16/9)));
    height: min(90vh, calc(95vw / (16/9)));
 
    background-image: url("../assets/ui/B4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    border: 2px solid #0BFFEB;
    box-shadow: 0 0 30px #0BFFEB, inset 0 0 60px rgba(11,255,235,0.04);    /* only 4% opacity on the inside, might remove later */
}

/*-----------panels------------*/
.panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 6px;
    
    color: white;
    font-family: "Share Tech Mono", monospace;
    font-size: clamp(8px, 1.9cqmin, 19px);
    line-height: 1.55;

    border: 1px solid rgba(11, 255, 235, 0.35);
    overflow-y: auto;
    transition: all 0.3s ease;

    box-shadow: 0 0 25px rgba(11, 255, 235, 0.5), inset 0 0 25px rgba(11, 255, 235, 0.1);
    backdrop-filter: blur(4px);
}

.panel-p {
    box-sizing: border-box;
    width: 100%;
    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8px, 1cqw, 10px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}

.panel:hover {
    box-shadow: 0 0 30px rgba(0, 255, 204, 0.6), inset 0 0 40px rgba(0, 255, 204, 0.2);
}

/*---------scrollbars----------*/
.panel-content {
    padding: clamp(1px, 0.3cqw, 4px) 0px clamp(1px, 0.3cqw, 4px) clamp(2px, 0.4cqw, 6px);
    overflow-y: auto;
    flex: 1;
}

.panel-content::-webkit-scrollbar {
    width: 4px;
}

.panel-content::-webkit-scrollbar-track {
    background: transparent;
}

.panel-content::-webkit-scrollbar-thumb {
    background: rgba(11, 255, 235, 0.5);
    border-radius: 0px;
    /* box-shadow: 0 0 20px #FF00BF,
                0 0 40px #FF00BF; */
}


.panel h2 {
    flex-shrink: 0;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: clamp(7px, 1.15cqw, 14px);
    font-weight: 700;
    line-height: 1.60;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    margin: -3px 0 clamp(4px, 0.6cqw, 10px) 0;
    padding: clamp(1px, 0.3cqw, 4px) clamp(2px, 0.4cqw, 6px);
    position: sticky;
    top: 0;
    
    border: 1px solid rgba(11, 255, 235, 0.35);
    z-index: 1;

    border: none;
    backdrop-filter: none;
    text-shadow: 0 0 2px #03b591;
}

.panel-p {
    margin: 0;
}

.panel-content {
    overflow-y: auto;
    flex: 1;
    padding: clamp(1px, 0.3cqw, 4px) clamp(1px, 0.3cqw, 4px) clamp(1px, 0.3cqw, 4px) clamp(2px, 0.4cqw, 6px);
}


/*---------status box----------*/
#status-box {
    container-type: inline-size;
    container-name: status-box;
    
    top: 5.2%;
    left: 37%;
    width: 26%;
    height: 18%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: transparent;
    border: none;
    backdrop-filter: none;
}

#status-p {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: clamp(2px, 5.2%, 4px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    font-family: "Share Tech Mono", monospace;
    font-size: clamp(10px, 6.5cqw, 14px);
    line-height: 1.25;
}

/*---------atmosphere----------*/
#atm-box {
    top: 50%;
    left: 20.5%;
    width: 18%;
    height: 42%;

    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);
}

#atm-p {
    /*background: rgba(0, 255, 0, 0.2);*/
    box-sizing: border-box;
    width: 100%;

    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8px, 1cqw, 10px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}


/*-------------OGA-------------*/
#oga-box {
    top: 49%;
    left: 1%;
    width: 18%;
    height: 22%;
    

    overflow: hidden;
    display: flex;
    justify-content: center;

    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);
}

#oga-p {
    /*background: rgba(0, 255, 0, 0.2);*/
    box-sizing: border-box;
    width: 100%;

    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8.2px, 1cqw, 15px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}


/*----------sabatier-----------*/
#sab-box {
    top: 72%;
    left: 1%;
    width: 18%;
    height: 25.25%;

    overflow: hidden;
    display: flex;
    justify-content: center;

    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);

}

#sab-p {
    border: 0px solid;
    box-sizing: border-box;
    width: 100%;

    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8.2px, 1cqw, 15px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}


/*------------water------------*/
#water-box {
    top: 50%;
    left: 40%;
    width: 19%;
    height: 42%;

    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);
}

#water-p {
    /*background: rgba(0, 255, 0, 0.2);*/
    box-sizing: border-box;
    width: 100%;

    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8px, 1cqw, 10px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}


/*------------power------------*/
#power-box {
    top: 50%;
    left: 60.5%;
    width: 19%;
    height: 42%;

    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);
}

#power-p {
    /*background: rgba(0, 255, 0, 0.2);*/
    box-sizing: border-box;
    width: 100%;

    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8px, 1cqw, 10px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}
    

/*-----------thermal-----------*/
#thermal-box {
    top: 2%;
    left: 1%;
    width: 18%;
    height: 46%;

    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);
}

#thermal-p {
    /*background: rgba(0, 255, 0, 0.2);*/
    box-sizing: border-box;
    width: 100%;

    margin: -3px 0 clamp(2px, 0.5cqw, 8px) 0;
    padding: 0;

    display: block;
    text-align: left;

    color: white;

    font-family: "Share Tech Mono", monospace;
    /* font-size: clamp(8px, 1cqw, 10px); */
    line-height: 1.25;

    background: transparent;
    border: none;
    backdrop-filter: none;
}

/*-------------isru / greenhouse panels-------------*/
#isru-box {
    /*---postion---*/
    top: 3.4%;
    left: 79.4%;
    width: 20.2%;
    height: 56.3%;

    /*--transform--*/
    clip-path: polygon(0% 4.5%, 96.8% 0%, 97% 100%, 0% 100%);
    transform: perspective(1500px) rotateY(-14deg) skewY(-4.9deg);
    transform-origin: left top;
    overflow: visible;

    background: transparent;
    border: none;
    backdrop-filter: none;
}

#gh-box {
    /*---postion---*/
    top: 60%;
    left: 79.8%;
    width: 20%;
    height: 35.3%;

    /*--transform--*/
    clip-path: polygon(0% 5%, 96.8% 0%, 97% 100%, 0% 92%);
    transform: perspective(1500px) rotateY(-20deg) skewY(1deg);
    transform-origin: left top;
    overflow: visible;

    /*--visuals--*/
    background: transparent;
    border: none;
    backdrop-filter: none;
    background: rgb(255, 14, 155);
}


/*-------------headers---------------*/
#gh-box h2,
#isru-box h2 {
    /*---postion---*/
    padding-top: clamp(15px, 3vh, 35px);
    margin: 0;
    position: static;
    flex-shrink: 0;
    text-shadow: 2px 2px 4px #048c8f;
}

#gh-box h2{
    /*---postion---*/
    padding-top: clamp(15px, 3vh, 35px);
    margin: 0;
    position: static;
    flex-shrink: 0;
    text-shadow: 2px 2px 4px #048c8f;
}


#gh-p,
#isru-p {
    /*---postion---*/
    position: static;
    text-shadow: 2px 2px 4px #02b1b4;
}

/*-----------hover effect------------*/
#gh-box::before,
#isru-box::before {
    content: "";
    /*---postion---*/
    position: absolute;
    inset: -8px;
    background: rgba(7, 242, 222, 0.163);
    filter: blur(12px);
    transform: inherit;
    transform-origin: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#gh-box:hover::before,
#isru-box:hover::before {
    opacity: 1;
}