body {
    margin: 0;
    background: black;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard {
    position: relative;

    background-image: url("../assets/ui/Bg5.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border: 2.5px solid #0BFFEB;
    box-shadow: 0 0 30px #0BFFEB;
    box-sizing: border-box;

    align-items: center;


    width: 90vw;
    max-width: 1000px;
    min-width: 600px;

    height: 52vh;
    max-height:700px;

}

.panel {
    position: absolute;
    padding: 18px;
    border-radius: 18px;
    background: rgba(0, 255, 255, 0.12);
    color: white;
    font-family: 'Orbitron', monospace;
}

#status-box {
    position: absolute;

    top: 5.5%;
    left: 37%;
    width: 21%;
    height: auto;
    min-height: 9%;

    padding: 0;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

#status-box-p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Orbitron', monospace;
    color: white;
    font-size: 10px;
    text-align: center;


}



#atmosphere-box {
    top: 300px;
    left: 60px;
    width: 260px;
}

#thermal-box {
    top: 300px;
    left: 430px;
    width: 260px;
}